{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"],
    "comma-dangle": ["error", "never"],
    "consistent-return": "off",
    "no-continue": "off",
    "no-mixed-operators": "off",
    "no-multiple-empty-lines": "off",
    "no-plusplus": "off",
    "no-void": "off",
    "prefer-destructuring": "off",
    "global-require": "off"
  }
}
